<div class="container p-3">
  <%= simple_form_for @garden do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :location %>
      <%= f.input :picture, as: :file %>
      <%= f.submit 'Valider', class: 'secondary-button' %>
  <% end %>
</div>
